{% extends "base.html.twig" %}
{% form_theme formView 'bootstrap_5_layout.html.twig' %}

{% block title %}Contribuer
{% endblock %}

{% block body %}

	<h1 class="h5 text-center my-4">Contribuer -
		{% if trick %}
			Editer le Trick
		{% else %}
			Créer un Trick
		{% endif %}
	</h1>

	{% include "contribution/_form.html.twig" %}

{% endblock %}
