{% extends "base.html.twig" %}
{% form_theme formView 'bootstrap_5_layout.html.twig' %}

{% block title %}Contribuer
{% endblock %}

{% block body %}
	<div class="container-xxl">
		<h1 class="h1 text-center py-2 my-1">Contribuer -
			{% if trick %}
				Editer le Trick
			{% else %}
				Créer un Trick
			{% endif %}
		</h1>

		{% include "contribution/_form.html.twig" %}
	</div>
{% endblock %}
